<!DOCTYPE html>
<html>

<head>
    <title>
        <%= packingSystemLabel%>
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body id="packing-system-template" class="packing-system-template">
    <div class="container">
        <div class="box-layout">
            <header class="template-header">
                <div class="row top-header">
                    <div class="col-md-6 logo">
                        <h2>
                            <%= packingSystemLabel%>
                        </h2>
                    </div>
                    <div class="col-md-6 social-icons">
                        <ul class="icon-list">
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                            <li class="circle">
                                <button type="button" class="btn btn-primary" onclick="location.href='/admin/logout'">
                                    <%= logoutLabel%>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bottom-header">
                    <div class="col-md-12">
                        <div class="dropdown-option">
                            <ul class="user-nav" style="display: none">
                                <li class="logged_user">
                                    <a href="javascript:void(0)">Username</a>
                                </li>
                                <li class="logout">
                                    <a href="javascript:void(0)">Logoff</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main" id="main">
                <div class="user_login_area">
                    <div class="user_login_form">
                        <h3 style="text-align: center;">
                            <%= addUserLabel%>
                        </h3>
                        <form action="/admin/add_user" class="loginform" method="post">
                            <div class="form-group">
                                <input type="text" name="username" required class="username form-control"
                                    placeholder="<%= usernameLabel%>">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" required class="password form-control"
                                    placeholder="*****">
                            </div>
                            <div class="form-group form_submit mb-0">
                                <button type="submit" name="login_submit" class="btn btn-primary login_submit">
                                    <%= addUserLabel%>
                                </button>
                            </div>
                        </form>
                        <div class="form-response">
                            <%if(errorResp){%>
                                <div class="alert alert-danger" role="alert">
                                    <%= errorSuccessMessageLabel %>
                                </div>
                                <%}%>

                                    <%if(successResp){%>
                                        <div class="alert alert-success" role="alert">
                                            <%= errorSuccessMessageLabel %>
                                        </div>
                                        <%}%>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>