<!DOCTYPE html>
<html>

<head>
    <title>
        <%= packingSystemLabel%>
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
</head>

<body id="packing-system-template" class="packing-system-template">
    <div class="container">
        <div class="box-layout">
            <header class="template-header">
                <div class="row top-header">
                    <div class="col-md-6 logo">
                        <h2>
                            <%= packingSystemLabel%>
                        </h2>
                    </div>
                    <div class="col-md-6 social-icons">
                        <ul class="icon-list">
                            <!-- <li class="circle">
                                <button type="button" class="btn btn-primary"
                                    onclick="location.href='admin/login'">Admin Login</button>
                            </li> -->
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                            <li class="circle">
                                <span>
                                    <%= pLabel%>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bottom-header">
                    <div class="col-md-12">
                        <div class="dropdown-option">
                            <ul class="user-nav">
                                <li class="logged_user">
                                    <a href="javascript:void(0)">
                                        <%= username %>
                                    </a>
                                </li>
                                <li class="logout">
                                    <a href="/user/logout">
                                        <%= Logoff%>
                                    </a>
                                </li>
                            </ul>
                            <div class="right-select">
                                <select name="pallet_no" class="pallet_no common-select">
                                    <option>
                                        <%= palletNoLabel%>
                                    </option>
                                    <% palletNo.forEach(function(singlePalletNo){ %>
                                        <option value="1234">
                                            <%= singlePalletNo.PALLETNUM %>
                                        </option>
                                        <% }); %>

                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main" id="main">


                <div class="product_table_area">
                    <div class="catalog_area">
                        <div class="scanning_section">
                            <div class="row">
                                <div class="col-md-12 scan-field form-group">
                                    <input type="text" id="scanbasket" name="scanbasket" class="scanbasket form-control"
                                        placeholder="<%= scanBasketLabel%>">
                                </div>
                                <div class="col-md-12 scan-field form-group" style="display: none;">
                                    <input type="text" name="scanitem" class="scanitem form-control"
                                        placeholder="<%= scanItemLabel%>">
                                </div>
                                <div class="col-md-12 error-field form-group">
                                    <div class="alert alert-primary" id="error_message" role="alert" style="display: none;">
                                        This is a danger alert—check it out!
                                    </div>
                                </div>
                                <div class="col-md-12 error-field form-group">
                                    <div class="alert alert-success" id="api_processing_message" role="alert" style="display: none;">
                                        <%= printingAndProcessingLabel%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra-fiels-area">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>
                                    <%= numberOfPacksLabel%>
                                </label>
                                <input type="number" name="packs_number" class="packs_number form-control" min="1"
                                    value="1">
                            </div>
                            <div class="col-md-3 form-group scanbasket-IVNUM" style="text-align: center; display: none;">
                                <h6>IVNUM</h6>
                                <label></label>
                            </div>
                            <div class="col-md-3 form-group scanbasket-royy_transportmean" style="text-align: center; display: none;">
                                <h6><%= packNumberLabel%></h6>
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div class="product_table n-product_table">
                        <div class="table-responsive item-table-wrapper" style="display: none">
                            <table class="table table-hover table-items">
                                <tr>
                                    <th>נסרק</th>
                                    <th>כמות</th>
                                    <th style="text-align: right">תאור</th>
                                    <th>מקט</th>
                                    <th>KLINE</th>
                                </tr>
                                <!-- <tr class="item_row" data-id="1">
                                    <td class="qtybox">
                                        <div class="number-input md-number-input">
                                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                                            <div class="qty-btn">
                                                <button class="plus qtybox-btn"><i class="fa fa-sort-asc"
                                                        aria-hidden="true"></i></button>
                                                <button class="minus qtybox-btn"><i class="fa fa-caret-down"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="totalqty">3</td>
                                    <td class="itemdesc">ווסקי</td>
                                    <td class="itemsku" data-sku="AAAA">AAAA</td>
                                    <td class="kline">1</td>
                                </tr>
                                 -->
                            </table>
                        </div>
                        <div class="row action">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-outline-primary btn-complete">
                                    <%= completeLabel%>
                                </button>
                            </div>
                            <div class="col-md-3 text-left">
                                <button type="button" class="btn btn-outline-danger btn-close-to-invoice">
                                    <%= closeinvoiceLabel%>
                                </button>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn btn-outline-primary btn-print-to-invoice">
                                    <%= printInvoiceLabel%>
                                </button>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn btn-outline-warning btn-suspend">
                                    <%= suspendedLabel%>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>